@use '../styles/colors' as c

.container
	position: fixed
	top: 0
	left: 0

	display: flex
	align-items: center
	justify-content: center

	width: 100%
	height: 100vh

	background: transparentize(c.$DarkJungleGreen, 0.9)

	font-size: 20px
.container__box
	display: grid
	justify-content: center

	box-sizing: border-box
	width: 37em
	padding: 3em

	border-radius: 2em
	background: #F5FDFC
	box-shadow: 0px 4px 4px rgba(160, 192, 190, 0.25)
.container__title
	margin-bottom: 2em

	text-align: center

	color: c.$PrincetonOrange
.container__button_close
	margin: 0 auto
	padding: .75em 1.5em

	color: c.$LightCyan
	border: none
	border-radius: .5em
	background: c.$Tomato

	font-size: inherit
