---
import BottomPoster from '../components/BottomPoster.astro';
import Delivery from '../components/Delivery.astro';
import FAQ from '../components/FAQ.astro';
import Pay from '../components/Pay.astro';
import Poster from '../components/Poster.astro';
import QuickOffer from '../components/QuickOffer.astro';
import Video from '../components/Video.astro';
import Layout from '../layouts/Layout.astro';
import LoginForm from "../preact-components/LoginForm";
import ErrorPopUp from "../preact-components/ErrorPopUp";
import Footer from '../components/Footer.astro';
---

<Layout title="terra prime">
	<main>
		<Poster />
		<Video />
		<!-- <Delivery /> -->
		<!-- <Pay /> -->
		<!-- <QuickOffer /> -->
		<!-- <FAQ /> -->
		<!-- <BottomPoster /> -->
		<!-- <LoginForm client:load/> -->
		<!-- <ErrorPopUp client:load/> -->
		<!-- <Footer /> -->
	</main>
</Layout>
