---
import SubscribeButton from "../preact-components/SubscribeButton";
import OpenErrorPopUp from "../preact-components/OpenErrorPopUp";
---

<div class="poster">
	<div class="poster__description">
		<h2 class="poster__title">
			Enjoy the benefits of terra prime:
		</h2>
		<p class="poster__text">
			subscribe now and get a hot pizza, delivered to your door in just
			30 minutes—because there's nothing better than an evening spent
			 with pizza & terra video. 😉
		</p>
		<section class="poster__button-section">
			<SubscribeButton client:load text="start your free trial now"/>
			<p class="poster__disclaimer">
				after that it's USD 12 per month
			</p>
		</section>
	</div>
	<div class="gift-promo">
		<h2 class="gift-promo__title">
			Buy a terra prime gift membership
		</h2>
		<OpenErrorPopUp client:visible>
		<div class="gift-promo__coupon-box">
			<div class="gift-promo__coupon">1 mont</div>
			<div class="gift-promo__coupon">6 months</div>
			<div class="gift-promo__coupon" id="year">1 year</div>
		</div>
		</OpenErrorPopUp>
	</div>
</div>

<style lang="sass">
	@use "../styles/colors.sass" as c

	.poster
		display: grid
		justify-content: space-between

		margin-top: 1.5em
		padding: 2em 1.25em

		border-radius: 20px
		background: c.$White
		box-shadow: 2px 2px 8px #D6D6D6

		font-size: 20px

		grid-template-columns: 40% 55%
	.poster__title
		font-size: 48px
		line-height: 50px
	.poster__text
		margin: 2em 0 0

		font-size: 16px
		line-height: 22px
	.poster__button-section
		width: max-content
		margin-top: 4em

		font-size: 14px
	.poster__disclaimer
		margin: 2em 0 0

		text-align: center

		opacity: 0.7

		font-size: inherit
	@media screen and (max-width: 1120px)
		.poster
			display: block
		.poster__description
			display: flex
			flex-wrap: wrap
			justify-content: center

			text-align: center
	@media screen and (max-width: 600px)
		.poster
			padding: 2em 1em
		.poster__description
			width: 100%
</style>

<style lang="sass">
	@use "../styles/colors.sass" as c

	.gift-promo
		padding-left: 3em

		transition-duration: .2s

		opacity: 0.7
		border-left: dashed 1px c.$PrincetonOrange
		&:hover
			opacity: 1
	.gift-promo__title
		font-size: 48px
		line-height: 50px
	.gift-promo__coupon-box
		display: grid
		justify-content: space-between

		grid-template-columns: 47% 47%
		grid-template-areas: "one-month six-months" "one-year one-year"
	.gift-promo__coupon
		margin-top: 1em
		padding: 1em

		cursor: pointer
		transition-duration: .2s
		text-align: center

		opacity: 0.5
		color: c.$LightCyan
		border-radius: 10px
		background: linear-gradient(134deg, #FFE1EA , #F87236)

		font-size: 36px
		font-weight: 700
		&:hover
			opacity: 1
	#year
		grid-area: one-year
	@media screen and (max-width: 1120px)
		.gift-promo
			display: none
</style>
