---
import QuestionBox from "../preact-components/QuestionBox"
import questions from "../../public/data/questions.json"
---

<div class="faq">
	<h2 class="faq__title">Frequently Asked Questions</h2>
	{questions.map(question => {
		return(
			<QuestionBox client:visible question={question}/>
			<hr class="faq__space"/>
		)
	})}
</div>

<style lang="sass">
	@use '../styles/colors' as c

	.faq
		padding: 2em

		border-radius: 2em
		background: c.$White

		font-size: 20px
	.faq__title
		margin-bottom: .7em
	.faq__space
		opacity: 0
	@media screen and (max-width: 475px)
		.faq
			padding: 2em 1em
</style>
