---
import type { Question } from "../preact-components/QuestionBox";
import QuestionBox from "../preact-components/QuestionBox";
import questionJSON from "../../public/data/questions.json"
import { Fragment } from "preact";
const questions = questionJSON as Question[]
---
<div class="faq">
	<h2 class="faq__title">Frequently Asked Questions</h2>
	{questions.map(question => {
		return(
			<QuestionBox client:visible question={question}/>
			<hr class="faq__space"/>
		)
	})}
</div>
<style lang="sass">
	@use '../styles/colors' as c
	.faq
		font-size: 20px
		padding: 2em
		background: c.$White
		border-radius: 2em
		.faq__title
			margin-bottom: .7em
		.faq__space
			opacity: 0

</style>
