<div class="footer">
	<div class="footer__text-block">
		<nav class="footer__nav">
			<ul class="footer__ul">
			<li class="footer__li"><a href="/" target="_blank">Terms of subscription</a></li>
			<li class="footer__li"><a href="/" target="_blank">Terms of privileges</a></li>
			<li class="footer__li"><a href="/" target="_blank">Support</a></li>
			</ul>
		</nav>
		<div class="footer__copyright">
			<span>© 2018–2022 <b>terra</b> 18+</span>
		</div>
	</div>
	<img class="footer__logo"
	width="181" height="48"
	src="/images/logo.webp" alt="Terra Prime Logo"/>
</div>

<style lang="sass">
	@use "../styles/colors" as c

	.footer
		display: flex
		align-items: center
		justify-content: space-between

		margin-top: 2.5em

		font-size: 20px
	.footer__ul
		display: flex

		margin: 0
		padding: 0
	.footer__li
		margin-right: 1.5em

		list-style: none
		a
			color: c.$DarkJungleGreen
	.footer__copyright
		margin-top: 1em
		b
			margin: 0 5em 0 3em
	@media screen and (max-width: 800px)
		.footer
			justify-content: center
		.footer__ul
			justify-content: center
		.footer__li
			margin: 0 1em
		.footer__copyright
			display: flex
			justify-content: center
		.footer__logo
			display: none
	@media screen and (max-width: 600px)
		.footer__ul
			flex-direction: column
		.footer__li
			margin: .5em auto
		.footer__copyright
			span
				display: flex
				align-items: center
				flex-direction: column
				b
					margin: 1em 0
</style>
