<header class="header">
	<img
	width="181" height="48"
	src="/images/logo.png" alt="Terra Prime Logo"/>
	<button name="signIn" class="button">sign in</button>
</header>

<style lang="sass">
	@use "../styles/colors.sass" as c
	.header
		display: flex
		justify-content: space-between
		align-items: center
		padding: 16px 0
		.button
			font-size: 20px
			padding: 0.5em 1.5em
			background: c.$PrincetonOrange
			border: none
			border-radius: 10px
</style>
