---
import SignInButton from "../preact-components/SignInButton";
---
<header class="header">
	<img
	width="181" height="48"
	src="/images/logo.webp" alt="Terra Prime Logo"/>
	<div class="header__sign-in-section"><SignInButton client:load /></div>
</header>

<style lang="sass">
	.header
		display: flex
		align-items: center
		justify-content: space-between

		padding: 16px 0
	@media screen and (max-width: 400px)
		.header
			justify-content: center
		.header__sign-in-section
			display: none
</style>
