---
import SubscribeButton from "../preact-components/SubscribeButton";
---

<div class="quick-offer">
	<h2 class="quick-offer__title">Try Prime free for 30 days</h2>
	<div class="quick-offer__background"></div>
	<SubscribeButton client:visible text="start your free trial now"/>
</div>

<style lang="sass">
	@use "../styles/colors" as c
	$BackgroundBG: linear-gradient(45deg, c.$LightCyan, c.$PiggyPink, c.$LightCyan, c.$PiggyPink)
	$BackgroundWidth: 25em

	.quick-offer
		position: relative

		display: grid
		overflow: hidden
		justify-content: center

		margin: 2em 0
		padding: 2em 0

		border-radius: 1em

		font-size: 20px
		&:hover
			.quick-offer__background
				animation: back 5s linear 0s infinite

				scale: 5
	.quick-offer__title
		position: relative

		margin-bottom: 1em
		padding: 0 .5em

		text-align: center
	.quick-offer__background
		position: absolute
		z-index: -1
		top: 6em
		left: calc(50% - ($BackgroundWidth / 2))

		width: $BackgroundWidth
		height: 3em

		transition-duration: .3s

		border-radius: inherit
		background: $BackgroundBG
		background-position: left
		background-size: 200%

		scale: .9
	@media screen and (max-width: 768px)
		.quick-offer__background
			display: none
@keyframes back
	0%
		background-position: left
	50%
		background-position: right
	100%
		background-position: left

</style>
