---
import Service, {Props as ServiceProps} from "../layouts/Service.astro"
import Gallery, { Movie } from "../preact-components/Gallery"
import movieList from "../../public/data/VideoMovieList.json";

const serviceProps: ServiceProps = {
	title: "terra video",
	pallete: {
		backgroud: "#CBF3F066",
		labelBody: "#FFE1EA",
		labelBorder: "#FF6542"
	}
}
---

<Service {...serviceProps}>
<div class="video">
	<h2 class="video__title">
		Watch movies whenever and wherever you want
	</h2>
	<p class="video__text">
		Terra prime offers its customers free access to tens of thousands
		of films and TV series. In addition, the 20% discount on movies
		that are only available for purchase (based on rights holder
		requirements) is also applicable to terra prime subscribers.
	</p>
	<Gallery movieList={movieList} client:visible/>
</div>
</Service>

<style lang="sass">
	$TextWidth: 70%
	.video
		font-size: 20px
		padding: 2em
		.video__title
			width: $TextWidth
		.video__text
			width: $TextWidth
			margin: 1.4em 0 3.5em
		@media screen and (max-width: 768px)
			.video__title, .video__text
				width: 100%
		@media screen and (max-width: 475px)
			padding: 2em 1em

</style>
